<section class="first">
  <div class="job">
    <div class="heading">
      <h3>Walk In for Designer Job Role</h3>
      <button id="applybtn" [disabled]="applybtn" (click)="onApply()">
        APPLY
      </button>
    </div>
    <div>
      <p class="graycolor">Date & Time :</p>
      <div class="job-info">
        <h5>{{ job?.date }}</h5>
        <div class="vertical-divider"></div>
        <img src="../../assets/location_on_black_24dp.svg" class="graycolor" />
        <p class="graycolor">{{ job?.city }}</p>
      </div>
    </div>
    <div class="horizontal-divider"></div>
    <div>
      <p class="graycolor">Job Roles :</p>
      <div class="job-role-list">
        <div class="job-role" *ngFor="let role of job?.roles">
          <div class="roleimgcont">
            <img [src]="role.img" />
          </div>
          <p>{{ role.title }}</p>
          <div class="vertical-divider resdisp"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdownDetails">
    <div class="summary" (click)="onSummaryClick()">
      <p>Pre-requisites & Application Process</p>
      <div class="vertical-divider"></div>
      <img [src]="detail.img" />
    </div>
    <div class="details" [style.display]="detail.display">
      <div>
        <div class="graycolor">General Instructions :</div>
        <div class="ins">
          <div [innerHTML]="job?.genIns"></div>
        </div>
      </div>
      <div class="horizontal-divider"></div>
      <div>
        <div class="graycolor">Instructions for the Exam :</div>
        <div class="ins">
          <div [innerHTML]="job?.examIns"></div>
        </div>
      </div>
      <div class="horizontal-divider"></div>
      <div>
        <div class="graycolor">Minimum System Requirements :</div>
        <div class="ins">
          <div [innerHTML]="job?.sysReq"></div>
        </div>
      </div>
      <div class="horizontal-divider"></div>
      <div>
        <div class="graycolor">Process :</div>
        <p [innerHTML]="job?.process"></p>
      </div>
    </div>
  </div>
</section>
<section class="second">
  <p class="heading">Time Slots & Preferences</p>
  <div>
    <p class="graycolor">Select a Time Slot :</p>
    <div class="radiocontainer" *ngFor="let times of job?.timeslots">
      <input
        type="radio"
        name="timeSlot"
        [id]="x + times.id"
        [value]="times.id"
        (change)="onChangeRadio($event)"
        [checked]="timeslot == times.id"
      />
      <label [for]="x + times.id" class="radiomark"></label>
      <label [for]="x + times.id">{{ times.time }}</label>
    </div>
  </div>
  <div class="horizontal-divider"></div>
  <div>
    <p class="graycolor">Select Your Preference :</p>
    <div class="checkcontainer" *ngFor="let role of r">
      <input
        type="checkbox"
        [id]="role.value + role.id"
        [value]="role.id"
        (change)="onChangeCheck($event)"
      />
      <label [for]="role.value + role.id"></label>
      <span>{{ role.value }}</span>
    </div>
  </div>
  <div class="horizontal-divider"></div>
  <div class="fileinput">
    <input type="file" id="inputResume" [(ngModel)]="resume" />
    <label for="inputResume">
      <img src="../../assets/Upload_black_24dp.svg" />
      <span>Upload Updated Resume</span>
    </label>
  </div>
</section>
<section class="roledetails" *ngFor="let role of job?.roles; let i = index">
  <div class="summary" [id]="i" (click)="onRoleClick($event)">
    <p>{{ role.title }}</p>
    <div class="vertical-divider"></div>
    <img [src]="roles[i].img" />
  </div>
  <div class="details" [style.display]="roles[i].display">
    <div>
      <div class="graycolor">gross compensation package :</div>
      <p>{{ role.package }}</p>
    </div>
    <div class="horizontal-divider"></div>
    <div>
      <div class="graycolor">Role Description :</div>
      <div class="ins">
        <div [innerHTML]="role.description"></div>
      </div>
    </div>
    <div class="horizontal-divider"></div>
    <div>
      <div class="graycolor">Requirements :</div>
      <div class="ins">
        <div [innerHTML]="role.requirements"></div>
      </div>
    </div>
  </div>
</section>
